*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

head {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: cornsilk;
}

body {
    margin: 0;
    padding: 0;
    background-color: cornsilk;
}

footer {
    background-color: gray;
    opacity: 0.9;
    text-align: center;
}